@use '../base/variables' as *;

.cta-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 10.125px 43px;

  .cta-icon-wrapper {
    height: 80px;
    width: 100%;
    position: relative;

    .cta-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      height: 64px;

      position: absolute;
      left: 0px;
      right: 0.25px;
      top: -32px;
      bottom: 48px;

      background: #ffffff;
      border: 1px solid $color-athens-gray;
    }
  }

  .cta-text-wrap {
    width: 100%;
    height: 219px;
    position: relative;

    .cta-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      position: absolute;
      width: 100%;
      max-width: 490px;
      left: calc(50% - 318.11px / 2 + 0.43px);
      top: -0.9px;

      .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .paragraph-regular {
        text-align: center;
      }
    }
  }
}

.cta-search-wrapper {
  width: 100%;
  margin-top: -31px;
  .form {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .cta-block {
    padding-left: 34px;
    padding-right: 34px;

    .cta-text-wrap {
      height: 191px;
      .cta-text {
        left: calc(50% - 490px / 2 - 0.19px);
        top: -0.06px;
      }
    }
  }

  .cta-search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
