@use '../base/variables' as *;

.feature-content-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 100%;

  .icon-wrap-regular {
    padding: 16px;
  }

  .h2d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3.3px;
  }
}
