@use '../base/variables' as *;

.feature-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  &__visual {
    display: none;
  }

  &__image {
    width: 100%;
    height: 540px;
    background: url('../img/feature-image.png') no-repeat center center;
    background-size: cover;
  }

  &__partnership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  &__partnership-inner {
    position: relative;
  }

  &__partnership-text {
    position: absolute;
    left: 47.81px;
    right: 48.19px;
    top: 15.94px;
    font-size: 14px;
    line-height: 17px;
    color: $color-bright-gray;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  &__heading {
    padding-bottom: 23px;
  }

  &__title {
    letter-spacing: -0.8px;
  }

  &__paragraph {
    padding-bottom: 43px;
  }

  &__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .feature-grid {
    flex-direction: row;
    gap: 104px;

    &__visual {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 518px;
    }

    &__content {
      padding: 8px 0px;
      gap: 32px;
      width: 518px;
    }

    &__heading {
      padding: 0;
    }

    &__paragraph {
      padding: 0;
    }
  }
}
