@use '../base/variables' as *;

.footer {
  border-top: 1px solid $color-athens-gray;

  &__container {
    gap: 40px;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11.73px 0px 6.27px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
  }

  .detail__text {
    color: $color-manatee;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
  }

  &__link {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.28px;

    color: $color-ebony;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  }

  &__form-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    width: 100%;

    .input {
      height: 48px;
      border: 1px solid $color-athens-gray;
      input {
        padding: 14.5px 19px;
        color: $color-dusty-gray;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .footer {
    &__content {
      flex-direction: row;
      gap: 150px;
      min-height: 282px;
    }

    &__column {
      min-width: 540px;
    }

    &__form-email {
      flex-direction: row;
      justify-content: flex-start;
      gap: 16px;

      .input {
        width: 319px;
      }
      .custom-button {
        padding: 11.5px 20px 12.5px;
      }
    }
  }
}
