@use '../base/variables' as *;

.input {
  height: 44px;
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__field {
    font-family: 'Inter';
    width: 100%;
    border: none;
    outline: none;
    padding: 13.5px 12px;
    font-size: 14px;
    line-height: 17px;
    color: $color-ebony;
    background: transparent;
  }
}

@media (min-width: 1440px) {
  .input {
    width: auto;
  }
}
