mixin custom-button(text = "", variant="primary")
  - const variants = { primary: "custom-button__primary", secondary: "custom-button__secondary", outline: "custom-button__outline" }
  button.custom-button(class=variants[variant] type="button")
    span.custom-button__text= text