.feature-content-block.background-gray
  .icon-wrap-regular
    include ../../../img/two-user.svg
  .h2d
    .subheading-regular Add a feature point here
    .paragraph-small Lorem ipsum dolor sit amet, consectetur adipiscing elit.