.feature-grid
  .feature-grid__visual
    .feature-grid__image
    .feature-grid__partnership
      .feature-grid__partnership-inner
        .feature-grid__partnership-text Partnership with Glassdoor and LinkedIn
        img(src="img/partnership-rectangle.png")
  .feature-grid__content
    .detail.detail__text WHY CHOOSE US
    .feature-grid__heading
      h3.feature-grid__title Build a custom membership site with locked content.
    .feature-grid__paragraph
      .paragraph-regular Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna, sit amet pulvinar diam. Sed laoreet feugiat consequat.
    .feature-grid__layout
      include feature-content-block
      include feature-content-block
      include feature-content-block