.container-small
  .testimonials__header
    .detail.detail__text TESTIMONIAL
    h3.testimonials__title See what users say about our job platform
  .carousel
    .slider-mask
      .testimonials__content
        .icon-wrap-regular
          include ../../../img/mail-chimp-icon.svg
        .testimonials__quote “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna”
        .paragraph-regular.testimonials__author David Sinclair - Senior Frontend Developer
      .testimonials__image
    .slide.slide-previous
      include ../../../img/arrow-left.svg
    .slide.slide-next
      include ../../../img/arrow-right.svg