$color-base: #fff;
$color-gray: #f9f9fb;
$color-athens-gray: #ebebef;
$color-ebony: #030407;
$color-royal-blue: #443fde;
$color-bright-gray: #3e404c;
$color-dusty-gray: #999;
$color-shuttle-gray: #606476;

$color-link-water: #f3f3fc;
$color-seashell-peach: #fef7f1;
$color-tussock: #c98b40;
$color-harp: #f1f8f4;
$color-green-pea: #246b49;
$color-mischka: #d6d7e0;
$color-shark: #24262d;
$color-manatee: #84889a;
$color-bombay: #b2b3bd;
