.cta-block.background-gray
  .cta-icon-wrapper
    .cta-icon
      include ../../img/magnifying-glass-icon.svg
  .cta-text-wrap
    .cta-text
      .heading
        h4 Explore a job now!
      .paragraph-regular Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus pharetra cursus. Suspendisse sodales porta leo, ac placerat ex pretium quis.
.cta-search-wrapper
  include form.pug