.section-header
  .section-header__container
    .section-header__grid
      .section-header__content
        .section-header__badge-wrapper
          .section-header__badge.section-header__badge.background-gray
            .section-header__badge-light
              .section-header__badge-status New
            .section-header__badge-title Stay connected to get upcoming jobs
        .section-header__heading
          h3.section-header__title Find the most exciting jobs in tech
      .section-header__description
        .section-header__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et. Sign in or sign up to get started!
    .section-header__bottom
      include form.pug
      .section-header__img-wrap
    .section-header__logo-grid
      .section-header__logo.section-header__logo--1
        img(src="img/logo-1.png" alt="Partner Logo 1")
      .section-header__logo.section-header__logo--2
        img(src="img/logo-2.png" alt="Partner Logo 2")
      .section-header__logo.section-header__logo--3
        img(src="img/logo-3.png" alt="Partner Logo 3")
      .section-header__logo.section-header__logo--4
        img(src="img/logo-4.png" alt="Partner Logo 4")
      .section-header__logo.section-header__logo--5
        img(src="img/logo-5.png" alt="Partner Logo 5")
      .section-header__logo.section-header__logo--6
        img(src="img/logo-6.png" alt="Partner Logo 6")