mixin slider-item(icon = "", title = "", count = "")
  .slider-item
    .slider-item__header
      .slider-item__icon.icon-wrap-regular
        img(src=icon)
      h6.slider-item__title= title
    .slider-item__description.paragraph-regular Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui mollis metus gravida tristique.
    .slider-item__tag
      .slider-item__tag-text= count 
      .slider-item__tag-text Employees