header
  .banner
    .banner__container
      .banner__left
        .banner__logo
          include ../../../img/logo.svg
      
      .banner__middle
        .banner__nav
          a.banner__nav-link.active(href="#") Home
          a.banner__nav-link(href="#") Company
          a.banner__nav-link(href="#") Blog
      
      .banner__right
        .banner__menu-btn
          .banner__menu-icon
            svg(width="24" height="24")
              include ../../../img/icon.svg
        
        .banner__actions
          a.banner__action-link(href="#") Post a Job
          a.banner__action-button(href="#") Log in