extends common/layout


block content
  main
    include includes/index/section-header
    include includes/index/section-regular
    include includes/index/section-companies
    .section-regular
      .container-regular
        include includes/index/feature-grid
    .section-regular.background-gray
      include includes/index/testimonials
    include includes/index/blog
    .section-regular
      .container-regular(style="gap:0")
        include includes/index/cta-block